[Unit]
Description=My Flask App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/Carehood-Cloud
ExecStart=/usr/bin/python3 /home/ubuntu/Carehood-Cloud/app.py
Restart=always

[Install]
WantedBy=multi-user.target